*
{
    margin: 0;
    font-family: 'Comfortaa', cursive;
}
body
{
    margin: 0;
    background: #08b783;
    color: white;
    padding: 0;
    font-size: 20px;
}

h1,h2,h3,h4,h5,h6
{
    padding: 0;
    margin: inherit;
}

ul,ol
{
    list-style: none;
    padding:0;
}

button
{
    outline: none;
    cursor: pointer;
}

.container
{
    display: grid;
    grid-template: minmax(100vh,900px) /6.7em minmax(870px,auto) auto ;
}

.item
{
    /* border: 1px solid red; */
}

/* header-barra */

.header
{
    text-align: center;
    display: grid;
    grid-template: 8em 1fr 8em / auto;
    justify-content: space-between;
    justify-self: center;
}

/* pefil */
.nom-perfil, .usu-perfil
{
    font-size: .75em;
    margin: .2em;
}
.nom-perfil
{
    font-weight: 500;
}
.usu-perfil
{
    font-weight: 300;
    color: rgba(245, 245, 245, 0.657);
}

.perfil-h
{
    /* border: 1px solid  red; */
    align-self: flex-end;
}

/* foto de perfil */
.perfil-h img
{
    width: 3em;
    border-radius: .3em;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    margin-bottom: .15em;
}

/* barra de navegacion */

.barra-h
{
    display: grid;
    /* grid-template-rows: 5em 1fr 1fr 1fr 1fr; */
    align-items: center;
    grid-gap: 2em;
}
/* tamaños de iconos de barra*/
.b-icon
{
    width: 1.2em;
}

.i-bh:nth-of-type(1)
{
    padding-top: 5em;
}

/* boton de la barra */
.b-salir-h
{
    background: transparent;
    border-style: none;
    align-self: flex-end;
    margin: 0;
    padding: 0;
}

/* imagen de boton */
.b-salir
{
    width: 1.8em;
    padding-bottom: 3.4em;
}

/* final de header-barra */

.container-main
{
    background: white;
    display: grid;
    grid-template-rows: 2em minmax(10em,17em) auto;
    border-top-left-radius: 1.4em;
    border-bottom-left-radius: 1.4em;
    padding: 2em 1.4em;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

/*  inicio barra  */
.barra
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5em;
    /* border: 1px solid red; */
}

.bar-busqueda
{
    display: flex;
}

/* botones barra */
.b-barra
{
    background: transparent;
    border: none;
}

.nav-burger
{
    width: 2.5em;
}

.b-buscar
{
    background: transparent;
    border: none;
    width: 2.2em;
}

.input-buscar
{
    background: transparent;
    /* border: 1px solid white; */
    border: none;
    font-size: .8em;
    outline:none;
    border-style: none;
    width: 500px;
}

/* envento input */
.input-buscar:focus
{
    border-bottom: 1px solid rgba(28, 255, 168, 0.698);
}

.b-notificaciones
{
    background: transparent;
    border: none;
    display: inline-block;
    position: relative;
    background: #fed973;
    border-radius: .4em;
    padding: .6em;
}

.b-notificaciones img
{
    width: 1.7em;
 }

 .b-notificaciones::after
 {
     content: "";
     display: block;
     background: rgb(255, 111, 111);
     border-radius: 50%;
     border: 2.5px solid white;
     position: absolute;
     top:-.3em;
     right: -.3em;
     width: .7em;
     height: .7em;
 }

/*  fin barra */

/* HERO */
.hero
{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 10em minmax(14.6em,auto) 8em;
    grid-gap: 4em;
    align-self: start;
    align-items: center;
    /* justify-items: center; */
}

/* imangen */
.señor-ho img
{
    width: 100%;
    padding-left: 2.5em;
    position: relative;
    z-index: 0;
}

/* titulo y boton */
.h1-hero
{
    color: #4c3b97;
    font-size: xx-large;
    position: relative;
    z-index: 1;
    padding-bottom: .4em;
}

.p-hero
{
    color: #bec0cf;
    font-size: .8em;
    position: relative;
    z-index: 1;
    padding-bottom: 2em;
}

.b-account
{
    background: #503e9d;
    border-radius: .5em;
    color: #f2eaff;
    padding: .75em;
    border: none;
    width: 10em;
    font-weight: 700;
}

/* GRAFICO CIRCULAR DEL MAIN */ 
.grafico-ho
{
    background: white;
   /*  transform: rotate(45deg); */
    width: 7em;
    height: 7em;
    /* border: 1px solid red; */
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    position: relative;
    
}

.grafico-ho::after
{
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    border: 1em solid #ffdb68 ;
    transform: rotate(40deg);
    clip-path: polygon(49% 52%, 0% 100%, 100% 100%);
    width: 5em;
    height: 5em;
}

.grafico-ho::before
{
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    transform: rotate(49.5deg);
    border: 1em solid rgb(255, 111, 111);
    clip-path: polygon(49% 52%, 0% 100%, 15% 100%);
    width: 5em;
    height: 5em;
}

.pize-ho
{
    position: absolute;
    border-radius: 50%;
    transform: rotate(140deg);
    border: 1em solid #e2e6f5;
    clip-path: polygon(49% 52%, 0% 100%, 104% 100%);
    width: 5em;
    height: 5em;
}


.pize-ho2
{
    position: absolute;
    border-radius: 50%;
    transform: rotate(268.5deg);
    border: 1em solid #7d5896;
    clip-path: polygon(49% 52%, 0% 100%, 900% 100%);
    width: 5em;
    height: 5em;
}

.pize-ho3
{
    position: absolute;
    border-radius: 50%;
    transform: rotate(-49deg);
    border: 1em solid #13b7fd ;
    clip-path: polygon(49% 52%, 0% 100%, 50% 100%);
    width: 5em;
    height: 5em;
}

/* FIN HERO */

/* BALANCE */

.balance
{
    color:#32335a;
/*     border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 15em;
    grid-gap: 1.5em;
}

.i-b
{
    /* border: 1px solid red; */
}

.titulo-grafica
{
    display: grid;
    grid-template-rows: 3em 2em minmax(11em,auto);
    padding-left: 1.5em;
}

.titulo-balance
{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

/* boton wallet */
.b-wallet
{
    background: transparent;
    border: none;
    border-radius: 50%;
    background: #def6ed;
    padding: 1em;
}

.img-wallet
{
    width: 1.8em;
}

/* poniendo moneda */
.moneda
{
    font-weight: 700;
}
.moneda::before
{
    content: "$ ";
}

/* botones de  day, week y month */

.b-day
{
    color: white;
    background: #4c3b97;
    padding: .3em;
    width: 5em;
    border: none;
    border-radius: .3em;
    margin-right: .5em;
}

.b-week,.b-month
{
    color: #b1b3be;
    padding: .3em;
    width: 5em;
    border: none;
    border-radius: .3em;
    margin-right: .5em;
}

/* GRAFICA DE BARRAS */
.barras-dias
{
    display: grid;
    grid-template-columns: repeat(7,auto);
    /* border: 1px solid red; */
    align-items: flex-end;
    justify-items: center;
    height: 90%;
}

.barras-dias p
{
    font-size: small;
    position: relative;
}

.mon::before
{
    content: "";
    display: block;
    margin: 0 auto;
    position: relative;
    bottom:1em;
    background: linear-gradient(#fdd974 10%,#fdd974 10%,#7d5895 10%,#7d5895 30%,#ee6370 30%,#ee6370 50%,#13b7ff 50% ,#13b7ff 100% );
    width: .7em;
    height: 13em;
    border-bottom-left-radius: .2em;
    border-bottom-right-radius: .2em;

}

.tue::before
{
    content: "";
    display: block;
    margin: 0 auto;
    background: linear-gradient(#fdd974 10%,#fdd974 10%,#7d5895 10%,#7d5895 30%,#ee6370 30%,#ee6370 50%,#13b7ff 50% ,#13b7ff 100% );
    width: .7em;
    height: 11em;
    position: relative;
    bottom:1em;
    border-bottom-left-radius: .2em;
    border-bottom-right-radius: .2em;
}

.wed::before
{
    content: "";
    display: block;
    margin: 0 auto;
    background: linear-gradient(#fdd974 10%,#fdd974 10%,#7d5895 10%,#7d5895 30%,#ee6370 30%,#ee6370 50%,#13b7ff 50% ,#13b7ff 100% );
    width: .7em;
    height: 9em;
    position: relative;
    bottom:1em;
    border-bottom-left-radius: .2em;
    border-bottom-right-radius: .2em;
}

.thu::before
{
    content: "";
    display: block;
    margin: 0 auto;
    background: linear-gradient(#fdd974 10%,#fdd974 10%,#7d5895 10%,#7d5895 30%,#ee6370 30%,#ee6370 50%,#13b7ff 50% ,#13b7ff 100% );
    width: .7em;
    height: 10em;
    position: relative;
    bottom:1em;
    border-bottom-left-radius: .2em;
    border-bottom-right-radius: .2em;
}

.fri::before
{
    content: "";
    display: block;
    margin: 0 auto;
    background: linear-gradient(#fdd974 10%,#fdd974 10%,#7d5895 10%,#7d5895 30%,#ee6370 30%,#ee6370 50%,#13b7ff 50% ,#13b7ff 100% );
    width: .7em;
    height: 13em;
    position: relative;
    bottom:1em;
    border-bottom-left-radius: .2em;
    border-bottom-right-radius: .2em;
}
.sat::before
{
    content: "";
    display: block;
    margin: 0 auto;
    background: linear-gradient(#fdd974 10%,#fdd974 10%,#7d5895 10%,#7d5895 30%,#ee6370 30%,#ee6370 50%,#13b7ff 50% ,#13b7ff 100% );
    width: .7em;
    height: 11em;
    position: relative;
    bottom:1em;
    border-bottom-left-radius: .2em;
    border-bottom-right-radius: .2em;
}
.sun::before
{
    content: "";
    display: block;
    margin: 0 auto;
    background: linear-gradient(#fdd974 10%,#fdd974 10%,#7d5895 10%,#7d5895 30%,#ee6370 30%,#ee6370 50%,#13b7ff 50% ,#13b7ff 100% );
    width: .7em;
    height: 12em;
    position: relative;
    bottom:1em;
    border-bottom-left-radius: .2em;
    border-bottom-right-radius: .2em;
}

/* CREDIT */
.credit
{
    background: #fed772;
    color: white;
    position: relative;
    border-radius: 1em;
    padding: 1em;
    
}

/* image de credito */

.img-person-c
{
    width: 113%;
    position: absolute;
    bottom: -.2em;
    left: -.5em;
}

/* portal */

.container-payportal
{
    background: white;
    color:#32335a;
    padding: 1em;
}

/* titulo */
.t-pp
{
    font-weight: 700;
    font-size: 1.2em;
    padding-top: 1.4em;
    padding-bottom: 1em;
}

/* carta de payportar */
.cart-pp
{
    background: #6f52ed;
    display: block;
    width: 5em;
    color: #f5ebff;
    min-width: 10.9em;
    max-width: 17em;
    width: auto;
    padding: 1.5em;
    border-radius: 1em;
    display: grid;
    position: relative;
}

.cart-pp p
{
    color: #bda7fe;
    font-size: .7em;
}

.cart-pp h3
{
    font-size: 1em;
}

/* imagen de carta  */
.pig
{
    width: 4em;
    position: absolute;
    right: 1.5em;
    align-self: center;
}

/* transacciones */
.transac
{
    display: flex;
    justify-content: space-between;
    padding-top: 3em;
    padding-bottom: .3em;
    align-items: center;
}

.t-trans
{
    font-size: 1.2em;
}

.img-visa img
{
    width: 2.3em;
    position: relative;
}

hr
{
    border: 1px solid #e9ebef;
    margin-bottom: 1.3em;
}

.b-add
{
    background: transparent;
    border: none;
    font-size: 1.5em;
    color: #434662;
}

.container-pt
{
    display: grid;
    grid-template-columns: 3em auto min-content;
    grid-gap: 1em;
    height: 4em;
    align-items: center;
}

.container-pt h2
{
    font-size: .75em;
}

.container-pt p
{
    font-size: .65em;
    color:#c2c3cc;
    padding-top: .5em;
}

ol li
{
    padding: .8em;
}

.p-pt
{
    width: 100%;
    border-radius: .5em;
    border: 1px solid black;
}

.t-total
{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.t-total .moneda
{
    font-size: 1.4em;
    align-items: center;
}

.b-newtransaction
{
    border: none;
    background: #ffd974;
    color: #39313a;
    font-weight: 700;
    padding: 1em;
    width: 85%;
    border-radius: .5em ;
    font-family: inherit;


}

.b-new
{
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}

/* animacion */

.rojo
{
    background: rojo;
    width: 100em;
}

.des
{
    display: none;
}

.burger
{
    grid-column: 1 / 3;
    border-radius: initial;
}


@media screen and (min-width:1024px)
{
    .container
    {
        grid-template: minmax(100vh,900px) /6.7em minmax(870px,auto) 17em ;
    }
}


@media screen and (max-width:780px)
{
    body 
    {
        font-size: 16px;
    }
    .container
    {
        grid-template: minmax(80vh,900px) /6.7em auto 17em ;
    }
}